<div class="list-bar px-2">
  <mat-form-field class="pr-1">
    <input matInput placeholder="Movie title" [formControl]="formGroup.controls.title">
  </mat-form-field>
  <mat-form-field class="pr-1">
    <mat-label>Languages</mat-label>
    <mat-select [formControl]="formGroup.controls.language">
      <mat-option></mat-option>
      <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="pr-1">
    <mat-label>Countries</mat-label>
    <mat-select [formControl]="formGroup.controls.country">
      <mat-option></mat-option>
      <mat-option *ngFor="let country of countries" [value]="country">{{country}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-divider></mat-divider>
<mat-list>
  <mat-list-item *ngFor="let movie of movies$ | async">
    <a matLine router-link [href]="'movies/'+ movie.imdbID">
      <img matListAvatar [src]="movie.poster" alt="movie.title"></a>
    <a class="mat-h3" matLine [href]="'movies/'+ movie.imdbID"> {{movie.title}} </a>
    <div matLine>
      <span> </span>
      <span class="demo-2"> : {{movie.year}} </span>
    </div>
    <div matLine>
      <span> Released: </span>
      <span class="demo-2"> : {{movie.released}} </span>
    </div>
    <div matLine>
      <span> Genre: </span>
      <span class="demo-2"> : {{movie.genre}} </span>
    </div>
    <div matLine>
      <span> Language: </span>
      <span class="demo-2"> : {{movie.language}} </span>
    </div>
    <div matLine>
      <span> Country: </span>
      <span class="demo-2"> : {{movie.country}} </span>
    </div>
    <div matLine>
      <span> Imdb rating: </span>
      <span class="demo-2"> : {{movie.imdbRating}} </span>
    </div>
    <div matLine>
      <span> Plot: </span>
      <span class="demo-2"> : {{movie.plot}} </span>
    </div>
  </mat-list-item>
</mat-list>