/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pr-1 {
  padding-right: 1rem;
}
.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
